#hide {
    opacity: 0;
    z-index: -100;
    position: absolute;
    white-space: pre;
}

input {
    min-width: 1px;
    padding: 0;
    outline: none;
    color: #f8f8f8;
    border: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    background: inherit;
  }